<!-- footer-->>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://d32gkk464bsqbe.cloudfront.net/company-profiles/o/8a5a5c6fbb7f76bbd2eb57cc067543de5e1947e5.png?v=6.6.1" alt="인포섹" width="370" height="142" />
      </div>
      <div class="col-6 col-md">
        <h5>Teammate</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">배준현</a></li>
          <li><a class="text-muted" href="#">김일한</a></li>
          <li><a class="text-muted" href="#">이영진</a></li>
          <li><a class="text-muted" href="#">염정현</a></li>
          <li><a class="text-muted" href="#">박종명</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
